<header>
  <div class="nav navbar-header">
    <img id="logo" src="../../../../assets/images/eed-logo.jpg">
    <span class="title" i18n><b>Electrical Engineering Department</b></span>
  </div>

  <div class="nav-right">
    <img id="search-button" src="./../../../../assets/images/search.png">
    <img id="translate-button" src="./../../../../assets/images/translation-web.png">
    <span><b>English</b></span>
  </div>
</header>

<nav>
  <ul>
    <li>
      <a class="nav-link" href="#">INTRODUCTION</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">ACADEMICS & ADMISSIONS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">RESEARCH</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">NEWS</a>
    </li>
  </ul>
</nav>
