<header xmlns="http://www.w3.org/1999/html">
  <div class="nav navbar-header">
    <a routerLink="">
      <img id="logo" src="../../../../assets/images/eed-logo.png">
      <span id="title">
        <b style="display: inline-block;">
          <span i18n>{{'Title.University' | translate}}</span>
          <span i18n class="break-line">{{'Title.Department' | translate}}</span>
        </b>
      </span>
    </a>
  </div>

  <div class="header-nav-right">
    <span class="header-search">
        <input type="text" class="search-form" maxlength="64" placeholder="Search"/>
        <a routerLink="">
          <img class="search-button" src="./../../../../assets/images/search.png">
        </a>
    </span>
    <a class="translation" (click)="switchLanguage()">
      <img class="icon" src="./../../../../assets/images/translation-web.png">
      <span class="language"><b>{{language}}</b></span>
    </a>
  </div>
</header>

<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
  <button (click)="toggleMenu()" class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbar-content" aria-controls="navbarTogglerDemo01" aria-expanded="false"
          aria-label="Toggle navigation">
    <img id="toggle-menu-button" src="../../../../assets/images/menu.png">
  </button>

  <ul class="collapse navbar-collapse" id="navbar-content" [ngClass]="{'show': isToggleMenuExpanded}">
    <li class="nav-item active">
      <a ngbDropdown ngbDropdownToggle i18n class="nav-link" routerLinkActive="nav-link-active">
        {{'Nav.Introduction' | translate}}
        <div ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/introduction/About us">ABOUT US</a>
          <a class="dropdown-item" routerLink="/introduction/Facility & Advisor">FACILITY & ADVISOR</a>
          <a class="dropdown-item" routerLink="/introduction/Department structure & Staff">DEPARTMENT STRUCTURE &
            STAFF</a>
          <a class="dropdown-item" routerLink="/introduction/Contact">CONTACT</a>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a ngbDropdown ngbDropdownToggle i18n class="nav-link" routerLinkActive="nav-link-active">
        {{'Nav.Academics_Admissions' | translate}}
        <div ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/academic/Academic Information">ACADEMIC INFORMATION</a>
          <a class="dropdown-item" routerLink="/academic/Student Graduate & Undergraduate">STUDENT GRADUATED &
            UNDERGRADUATE</a>
          <a class="dropdown-item" routerLink="/academic/Teaching">TEACHING</a>
          <a class="dropdown-item" routerLink="/academic/Degree Requirement">DEGREE REQUIREMENT</a>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a ngbDropdown ngbDropdownToggle i18n class="nav-link" routerLinkActive="nav-link-active">
        {{'Nav.Research' | translate}}
        <div ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/research/Research News">RESEARCH NEWS</a>
          <a class="dropdown-item" routerLink="/research/Laboratory">LABORATORY</a>
          <a class="dropdown-item" routerLink="/research/Conferences and seminars">CONFERENCES AND SEMINARS</a>
          <a class="dropdown-item" routerLink="/research/Area">AREA</a>
          <a class="dropdown-item" routerLink="/research/Poster">POSTER</a>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a ngbDropdown ngbDropdownToggle i18n class="nav-link" routerLinkActive="nav-link-active">
        {{'Nav.News' | translate}}
        <div ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/news/Department News">DEPARTMENT NEWS</a>
          <a class="dropdown-item" routerLink="/news/Course News">COURSE NEWS</a>
          <a class="dropdown-item" routerLink="/news/Event">EVENT</a>
          <a class="dropdown-item" routerLink="/news/School leadership">SCHOOL LEADERSHIP</a>
          <a class="dropdown-item" routerLink="/news/Calendar">CALENDAR</a>
        </div>
      </a>
    </li>
  </ul>
  <div class="nav-right">
    <span class="header-search">
      <input type="text" class="search-form" maxlength="64" placeholder="Search"/>
      <a routerLink="">
        <img class="search-button" src="./../../../../assets/images/search-white.png">
      </a>
    </span>
    <a class="translation" (click)="switchLanguage()">
      <img class="icon" src="./../../../../assets/images/translation-white.png">
      <span class="language"><b>{{language}}</b></span>
    </a>
  </div>
</nav>
