<header xmlns="http://www.w3.org/1999/html">
  <div class="nav navbar-header">
    <a routerLink="">
      <img id="logo" src="../../../../assets/images/eed-logo.png">
      <span id="title">
        <b style="display: inline-block;">
          <ng-container *ngIf="locale === 'en'">
            <span>{{universityEnglishName}}</span>
            <span class="break-line">{{departmentEnglishName}}</span>
          </ng-container>
          <ng-container *ngIf="locale === 'zh-tw'">
            <span>{{universityChineseName}}</span>
            <span class="break-line">{{departmentChineseName}}</span>
          </ng-container>
        </b>
      </span>
    </a>
  </div>

  <div class="header-nav-right">
    <span class="header-search">
        <input type="text" class="search-form" maxlength="64" placeholder="{{'Search' | translate}}"/>
        <a routerLink="">
          <img class="search-button" src="./../../../../assets/images/search.png">
        </a>
    </span>
    <a class="translation" (click)="switchLanguage()">
      <img class="icon" src="./../../../../assets/images/translation-web.png">
      <span class="language"><b>{{language}}</b></span>
    </a>
  </div>
</header>

<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
  <button (click)="toggleMenu()" class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbar-content" aria-controls="navbarTogglerDemo01" aria-expanded="false"
          aria-label="Toggle navigation">
    <img id="toggle-menu-button" src="../../../../assets/images/menu.png">
  </button>

  <ul class="collapse navbar-collapse" id="navbar-content" [ngClass]="{'show': isToggleMenuExpanded}">
    <li class="nav-item active">
      <a ngbDropdown ngbDropdownToggle i18n class="nav-link" routerLinkActive="nav-link-active">
        {{'Nav.Introduction' | translate}}
        <div ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/introduction/about-us">ABOUT US</a>
          <a class="dropdown-item" routerLink="/introduction/facility-advisor">FACILITY & ADVISOR</a>
          <a class="dropdown-item" routerLink="/introduction/department-structure-staff">DEPARTMENT STRUCTURE &
            STAFF</a>
          <a class="dropdown-item" routerLink="/introduction/contact">CONTACT</a>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a ngbDropdown ngbDropdownToggle i18n class="nav-link" routerLinkActive="nav-link-active">
        {{'Nav.Academics_Admissions' | translate}}
        <div ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/academic/academic-information">ACADEMIC INFORMATION</a>
          <a class="dropdown-item" routerLink="/academic/student-graduate-and-undergraduate">STUDENT GRADUATED &
            UNDERGRADUATE</a>
          <a class="dropdown-item" routerLink="/academic/teaching">TEACHING</a>
          <a class="dropdown-item" routerLink="/academic/degree-requirement">DEGREE REQUIREMENT</a>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a ngbDropdown ngbDropdownToggle i18n class="nav-link" routerLinkActive="nav-link-active">
        {{'Nav.Research' | translate}}
        <div ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/research/research-news">RESEARCH NEWS</a>
          <a class="dropdown-item" routerLink="/research/laboratory">LABORATORY</a>
          <a class="dropdown-item" routerLink="/research/conferences-and-seminars">CONFERENCES AND SEMINARS</a>
          <a class="dropdown-item" routerLink="/research/area">AREA</a>
          <a class="dropdown-item" routerLink="/research/poster">POSTER</a>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a ngbDropdown ngbDropdownToggle i18n class="nav-link" routerLinkActive="nav-link-active">
        {{'Nav.News' | translate}}
        <div ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/news/department-news">DEPARTMENT NEWS</a>
          <a class="dropdown-item" routerLink="/news/course-news">COURSE NEWS</a>
          <a class="dropdown-item" routerLink="/news/event">EVENT</a>
          <a class="dropdown-item" routerLink="/news/school-leadership">SCHOOL LEADERSHIP</a>
          <a class="dropdown-item" routerLink="/news/calendar">CALENDAR</a>
        </div>
      </a>
    </li>
  </ul>
  <div class="nav-right">
    <span class="header-search">
      <input type="text" class="search-form" maxlength="64" placeholder="Search"/>
      <a routerLink="">
        <img class="search-button" src="./../../../../assets/images/search-white.png">
      </a>
    </span>
    <a class="translation" (click)="switchLanguage()">
      <img class="icon" src="./../../../../assets/images/translation-white.png">
      <span class="language"><b>{{language}}</b></span>
    </a>
  </div>
</nav>
