header{
  display: block;
  overflow: hidden;
  width:100%;
  padding: 2% 8%;
}

.break-line{
  display: inline-block;
}

nav{
  display: block;
  color: white;
  padding: 26px 8%;
  background-color: #CE4656;
}

nav ul{
  margin: 0;
  padding: 0;
}

nav ul li{
  margin-right:10%;
  display:inline;
  font-weight: bold;
  font-size: 16px;
}

nav ul li a{
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
}

nav ul li a:hover{
  color: white;
}

.nav-link{
  cursor: pointer;
}

.nav-link-active{
  color: white !important;
}

.nav{
  display: inline-block;
}

.nav a{
  display: table;
}

.header-nav-right{
  float:right;
  margin-top: 10px;
}

.nav-right{
  display: none;
}

.navbar-toggler{
  border: 0;
  box-shadow: none;
  /*padding: 6px 0;*/
}

#navbar-content{
  white-space: nowrap;
}

#toggle-menu-button{
  width: 20px;
  height: 20px;
}

#title{
  display: table-cell;
  color: black;
  vertical-align: middle;
  font-size: 28px;
}

#logo{
  display: table-cell;
  vertical-align: middle;
  margin-right: 20px;
  width:60px;
  height:60px;
}

.translation{
  color: black;
  cursor: pointer;
}

.header-search input{
  width: 0;
  border-radius:0;
  box-shadow: none;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 6px 0;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.header-search:hover input{
  background-color: white;
  display: inline;
  width: 200px;
  padding: 6px 12px;
  border-radius: 3px;
  border: 1px solid gray;
}

.search-form{
  width: 200px;
  display: inline-block;
}

.search-button{
  width:30px;
  height:30px;
}

.icon{
  margin-left:20px;
  margin-right:10px;
  width:30px;
  height:30px;
}

#language{
  display: inline-block;
}

a{
  text-decoration: none;
}

.dropdown-toggle::after {
  display:none;
}

.dropdown-menu{
  padding: 0;
  border:0;
}

.dropdown-item{
  cursor: pointer;
  display: block;
  color: white;
  padding: 10px 12px;
  background-color: #CE4656;
  font-weight: bold;
  font-size: 16px;
}

@media (max-width: 1440px) {
  #title{
    font-size: 20px;
  }

  nav ul li{
    font-size: 16px;
  }

  .search-button{
    width:28px;
    height:28px;
  }

  .icon{
    margin-left:16px;
    margin-right:8px;
    width:26px;
    height:26px;
  }

  .header-search:hover input{
    width: 200px;
  }
}

@media (max-width: 1024px) {
  #title{
    font-size: 18px;
  }

  nav ul li{
    font-size: 16px;
  }

  .break-line{
    display: block;
  }

  .search-button{
    width:26px;
    height:26px;
  }

  .icon{
    margin-left:10px;
    margin-right:8px;
    width:26px;
    height:26px;
  }

  .header-search:hover input{
    width: 180px;
  }
}

@media (max-width: 768px) {
  #title{
    font-size: 16px;
  }

  nav ul li{
    font-size: 12px;
  }

  .dropdown-item{
    font-size: 12px;
  }

  .search-button{
    width:22px;
    height:22px;
  }

  .icon{
    margin-left:6px;
    margin-right:3px;
    width:22px;
    height:22px;
  }

  .header-search:hover input{
    width: 160px;
  }

  #logo{
    width:50px;
    height:50px;
    margin-right: 8px;
  }
}

@media (max-width: 425px) {
  header{
    display: block;
    overflow: hidden;
    width:100%;
    padding: 10px 3%;
  }

  #title{
    font-size: 16px;
  }

  nav{
    display: block;
    color: white;
    padding:10px 3%;
    background-color: #CE4656;
  }

  nav ul li{
    display: block;
    padding: 10px 0;
  }

  .header-nav-right{
    display: none;
  }

  .nav-right{
    display: inline-block;
    float: right;
    font-size: 16px;
    margin-top: 7px;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
  }

  .language{
    vertical-align: middle;
  }

  #language{
    display: none;
  }

  .search-button{
    width:20px;
    height:20px;
  }

  .icon{
    margin-left:6px;
    width:20px;
    height:20px;
  }

  .header-search:hover input{
    width: 80px;
  }

  #logo{
    width:50px;
    height:50px;
    margin-top: 2px;
    margin-right: 8px;
  }
}

@media (max-width: 350px) {
  header{
    display: block;
    overflow: hidden;
    width:100%;
    padding: 10px 3%;
  }

  #title{
    font-size: 14px;
  }

  nav{
    display: block;
    color: white;
    padding:10px 3%;
    background-color: #CE4656;
  }

  nav ul li{
    display: block;
    margin: 20px 0;
  }

  .header-nav-right{
    float:right;
    margin-top: 0;
  }

  .nav-right{
    font-size: 12px;
    margin-top: 6px;
  }

  #language{
    display: none;
  }

  .search-button{
    width:18px;
    height:18px;
  }

  .icon{
    margin-left:3px;
    width:18px;
    height:18px;
  }

  .header-search:hover input{
    width: 80px;
  }

  #logo{
    width:50px;
    height:50px;
    margin-right: 6px;
  }
}
