<div class="box">
  <p *ngIf="title !== ''" class="title"><span>{{title}}</span></p>
  <div *ngIf="isShowEditLink" class="edit-button">
    <img *ngIf="!isEditting" (click)="edit()" src="../../../../assets/images/edit.png">
    <div *ngIf="isEditting">
      <img (click)="done()" style="margin-right: 10px;" src="../../../../assets/images/done.png">
      <img (click)="cancel()" src="../../../../assets/images/cancel.png">

      <div *ngIf="isShowLoadingIndicator" class="loading-indicator">
        <div class="sk-fading-circle">
          <div class="sk-circle1 sk-circle"></div>
          <div class="sk-circle2 sk-circle"></div>
          <div class="sk-circle3 sk-circle"></div>
          <div class="sk-circle4 sk-circle"></div>
          <div class="sk-circle5 sk-circle"></div>
          <div class="sk-circle6 sk-circle"></div>
          <div class="sk-circle7 sk-circle"></div>
          <div class="sk-circle8 sk-circle"></div>
          <div class="sk-circle9 sk-circle"></div>
          <div class="sk-circle10 sk-circle"></div>
          <div class="sk-circle11 sk-circle"></div>
          <div class="sk-circle12 sk-circle"></div>
        </div>
        <span class="message">Please wait...</span>
      </div>
    </div>
  </div>
  <hr *ngIf="title !== ''"/>
  <ng-content></ng-content>
  <div style="text-align: right; margin-top: 10px">
    <i *ngIf="seeMoreLink != ''" routerLink="{{seeMoreLink}}" class="see-more">See More</i>
  </div>
</div>
