<content-box [title]="'CONTACT'" [editLink]="'/edit'">
  <div>
    <span class="title">Name:</span>
    <span class="content">{{contactName}}</span>
  </div>
  <div>
    <span class="title">Address:</span>
    <span class="content">{{contactAddress}}</span>
  </div>
  <div class="phone">
    <span class="title">Phone:</span>
    <div class="content">
        <span style="display: block;" *ngFor="let phone of contactPhones">
          {{phone}}
        </span>
    </div>
  </div>
  <div>
    <span class="title">Fax:</span>
    <span class="content">{{contactFax}}</span>
  </div>
</content-box>

<content-box [title]="'LINK'" [editLink]="'/edit'">
  <table class="table">
    <thead>
      <tr>
        <th class="link-col-num">#</th>
        <th>Link Text</th>
        <th>URL</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let l of link; let i = index">
        <td class="link-col-num">#{{i+1}}</td>
        <td>{{l.text}}</td>
        <td>{{l.url}}</td>
      </tr>
    </tbody>
  </table>
</content-box>

<content-box [title]="'SLIDE'" [editLink]="'/edit'">
  <div class="row">
    <preview-edit-box class="col-xl-4 col-lg-4 col-md-6" *ngFor="let slide of slides;" [article]="slide"></preview-edit-box>
    <div class="col-xl-4 col-lg-4 col-md-6 add-slide">
      <img style="background-color: #ccc6c1" src="../../../assets/images/add.png">
    </div>
  </div>
</content-box>

<admin-footer></admin-footer>
