.title{
  display: inline-block;
  width: 150px;
}

span{
  display: inline-block;
}

container-box{
  margin-bottom: 30px;
}

.phone{
  display: flex;
}

.long-width{
  width: 70%;
}

.add-slide img{
  width: 100%;
  padding: 20% 30%;
  cursor: pointer;
  background-color: #ccc6c1
}

container-box{
  margin-bottom: 30px;
}

.edit-box{
  border: 0;
  border-bottom: 1px solid gray;
  outline: none;
}

/deep/ .customClass {
  background-color: #F8F8F8;
  border-radius: 5px;
  margin:5px;
}

/deep/ .customClass .img-ul-upload {
  background-color: #CE4656 !important;
}

/deep/ .customClass .img-ul-container .img-ul-image {
  width: 100%;
  height: stretch;
}

.slide-edit p{
  margin-bottom: 8px;
}

.slide-edit input {
  width: 100%;
  margin-bottom: 20px;
}

.slide-edit textarea{
  width: 100%;
  min-height: 100px;
}

@media (max-width: 576px){
  .link-col-num{
    display: none;
  }

  .content{
    display: block;
    margin: 0;
    margin-bottom: 6px;
  }

  .title{
    display: block;
    color: rgba(100, 100, 100, 0.8);
    margin-bottom: 4px;
  }

  .phone{
    display: block;
  }
}
