.title{
  display: inline-block;
  width: 150px;
}

span{
  display: inline-block;
}

container-box{
  margin-bottom: 30px;
}

.phone{
  display: flex;
}

.long-width{
  width: 70%;
}

.slide{
  height: 310px;
}

.add-slide img{
  width: 100%;
  padding: 20% 35%;
  cursor: pointer;
  background-color: #ccc6c1
}

container-box{
  margin-bottom: 30px;
}

.edit-box{
  border: 0;
  border-bottom: 1px solid gray;
  outline: none;
}

.right-nav{
  float: right;
}

.translation{
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.language{
  display: inline-block;
  vertical-align: bottom;
}

.translation-icon{
  width: 25px;
  height: 25px;
}

.upload-image{
  text-align: center;
}

.upload-image img{
  width: 445px;
  height: 300px;
}

.upload-image input{
  margin-top: 20px;
  width: 250px !important;
  display: inline-block;
}

/deep/ .customClass {
  background-color: #F8F8F8;
  border-radius: 5px;
  margin:5px;
}

/deep/ .customClass .img-ul-upload {
  background-color: #CE4656 !important;
}

/deep/ .customClass .img-ul-container .img-ul-image {
  width: 100%;
  height: stretch;
}

.edit-form p{
  margin-bottom: 8px;
}

.edit-form input {
  width: 100%;
  margin-bottom: 20px;
}

.edit-form textarea{
  width: 100%;
  min-height: 100px;
}

@media (max-width: 576px){
  .link-col-num{
    display: none;
  }

  .content{
    display: block;
    margin: 0;
    margin-bottom: 6px;
  }

  .title{
    display: block;
    color: rgba(100, 100, 100, 0.8);
    margin-bottom: 4px;
  }

  .phone{
    display: block;
  }
}
