<div class="container">
  <!-- row -->
  <div class="row" style="">
    <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">
      <!-- sub menu -->

      <!-- div serach  -->
      <div class="search-form">
        <input type="text" id="search" placeholder="Search">
      </div>
      <app-sub-menu [parentRoute]="parentRoute" [parentRouteName]="parentRouteName"
                    [titles]="menu" [selectedTitle]="selectedTitle"></app-sub-menu>
    </div>
    <!-- end submenu -->
    <!-- Main -->
    <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12">
      <research-article-list *ngIf="!isShowArticle" [selectedTitle]="selectedTitle"></research-article-list>
      <app-article-content *ngIf="isShowArticle" [article]="article"></app-article-content>
    </div>
  </div>
  <!-- end container -->
</div>
