.right-nav{
  float: right;
}

.input-title{
  width: 100%;
  clear: both;
  margin-top: 10px;
}

.translation{
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}

.language{
  display: inline-block;
  vertical-align: bottom;
}

.translation-icon{
  width: 25px;
  height: 25px;
}

.done-icon{
  width: 20px;
  height: 20px;
}

.editor{
  margin-top: 20px;
}
