<div>
  <span style="display: inline-block;">Edit post</span>
  <div class="right-nav">
    <ng-container *ngIf="isEditingEvent">
      <select class="form-control article-size-dropdown" [(ngModel)]="article.size">
        <option [ngValue]="articleSize.Small">Small</option>
        <option [ngValue]="articleSize.Wide">Wide</option>
        <option [ngValue]="articleSize.Large">Large</option>
      </select>
    </ng-container>

    <a class="translation" (click)="switchEditorLanguage()">
      <img class="translation-icon" src="./../../../../assets/images/translation-web.png">
      <span class="language"><b>{{editorLanguage}}</b></span>
    </a>
    <a *ngIf="isShowDoneButton" (click)="finishEdit()">
      <img class="done-icon" src="./../../../../assets/images/done.png">
    </a>
  </div>
  <ng-container *ngIf="showtopic">
    <div class=" article-size-dropdown"  style="display:inherit;">
<div class="tags-container">
<span *ngFor="let topic of topics;let i=index " [class.active]="topic.active" (click)="selectedtopic(i)">{{topic.englishTitle}}</span>
</div>
    </div>
  </ng-container>
  <ng-container *ngIf="showTitle">
    <input *ngIf="editorLocale === 'en'" class="input-title" type="text" [(ngModel)]="article.englishTitle">
    <input *ngIf="editorLocale === 'zh-tw'" class="input-title" type="text" [(ngModel)] ="article.chineseTitle">
  </ng-container>
  <ng-container *ngIf="isEditingEvent">
    <label><b>Event begin date: </b></label>
    <owl-date-time [(ngModel)]="eventbeginDate" [type]="'both'" [dateFormat]="'YYYY MMM DD - hh:mm'"
                   [hideClearButton]="true" [locale]="en" (onSelect)="onSelectDateTime()"></owl-date-time>
  </ng-container>
  <div *ngIf="showPreviewImageEditor" class="upload-image">
    <label><b>Article's preview image</b></label>
    <br/>
    <img [src]="selectedSlideImageUrlPath" onerror="src='./assets/images/no_preview_image.jpg'">
    <br/>
    <input type="file" ng2FileSelect [uploader]="uploader">
  </div>
  <div *ngIf="editorLocale === 'en'" class="editor" [froalaEditor]="editorOptions" [(froalaModel)]="article.englishContent"></div>
  <div *ngIf="editorLocale === 'zh-tw'" class="editor" [froalaEditor]="editorOptions" [(froalaModel)]="article.chineseContent"></div>
</div>
