<div class="container">
  <div class="row desktop">
    <div class="col-xl-3 col-lg-3 col-md-3">
      <app-sub-menu [parentRoute]="parentRoute" [parentRouteName]="parentRouteName" [titles]="titles" [selectedTitle]="selectedTitle"></app-sub-menu>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-9">
      <div *ngIf="isFaculty">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Department Head</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">System Group</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu3">Elec. Group</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu4">Com. Group</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu5">Other</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <advisor-list [group]="advisorGroup.All"></advisor-list>
          </div>
          <div class="tab-pane" id="menu1">
            <advisor-list [group]="advisorGroup.Head"></advisor-list>
          </div>
          <div class="tab-pane" id="menu2">
            <advisor-list [group]="advisorGroup.System"></advisor-list>
          </div>
          <div class="tab-pane" id="menu3">
            <advisor-list [group]="advisorGroup.Elec"></advisor-list>
          </div>
          <div class="tab-pane" id="menu4">
            <advisor-list [group]="advisorGroup.Com"></advisor-list>
          </div>
          <div class="tab-pane" id="menu5">
            <advisor-list [group]="advisorGroup.Other"></advisor-list>
          </div>
        </div>
      </div>
      <div *ngIf="!isFaculty&&!isLaboratories">
        <app-article-content [article]="article"></app-article-content>
      </div>
      <div *ngIf="isLaboratories">
        <table class="table">
          <thead>
            <tr  class="table-secondary" >
              <th>{{"Lab.TitleOfLab" | translate}}</th>
              <th>{{"Lab.Advisor" | translate}}</th>
              <th>{{"Lab.Research" | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let labo of Laboratory">
              <td>{{labo.englishTitle}}</td>
              <td>{{labo.englishTeacherName}}</td>
              <td>{{labo.englishResearch}}</td>
            </tr>
          </tbody>

        </table>

    </div>

  </div>
  <div class="row mobile">
    <app-sub-menu [parentRoute]="parentRoute" [parentRouteName]="parentRouteName" [titles]="titles" [selectedTitle]="selectedTitle"></app-sub-menu>
    <div *ngIf="isFaculty">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home-mobile">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu1-mobile">Department Head</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu2-mobile">System Group</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu3-mobile">Elec. Group</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu4-mobile">Com. Group</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu5-mobile">Other</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="home-mobile">
          <advisor-list [group]="advisorGroup.All"></advisor-list>
        </div>
        <div class="tab-pane" id="menu1-mobile">
          <advisor-list [group]="advisorGroup.Head"></advisor-list>
        </div>
        <div class="tab-pane" id="menu2-mobile">
          <advisor-list [group]="advisorGroup.System"></advisor-list>
        </div>
        <div class="tab-pane" id="menu3-mobile">
          <advisor-list [group]="advisorGroup.Elec"></advisor-list>
        </div>
        <div class="tab-pane" id="menu4-mobile">
          <advisor-list [group]="advisorGroup.Com"></advisor-list>
        </div>
        <div class="tab-pane" id="menu5-mobile">
          <advisor-list [group]="advisorGroup.Other"></advisor-list>
        </div>
      </div>
    </div>
    <div *ngIf="!isFaculty">
      <app-article-content [article]="article"></app-article-content>
    </div>
  </div>
</div>
