.container {
  padding: 50px 8%;
  width: 100%;
}

.mobile {
  display: none;
}

.desktop {
  display: flex;
}
.table>thead,.table>tbody>:nth-child(2n){
  background-color: #dddfe2
}
@media (max-width: 1024px) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
}

.tab-content{
  padding: 20px 0;
}
