.container {
  padding: 50px 8%;
  width: 100%;
}

.mobile {
  display: none;
}

.desktop {
  display: flex;
}

@media (max-width: 1024px) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
}
