:host{
 /*height: 310px*/
}

.content{
  display: block;
}

.preview-image{
  width: 100%;
  height: 260px;
}

img{
  cursor: pointer;
}

p{
  margin-bottom: 0;
}

.icon{
  width: 20px;
  height: 20px;
}

:host{
  display: block;
  margin-bottom: 20px;
}

@media (max-width: 1440px){
  .preview-image{
    height: 200px;
  }
}

@media (max-width: 1024px){
  .preview-image{
    height: 180px;
  }
}
