.content{
  display: inline-block;
}

.preview-image{
  width: 100%;
}

img{
  cursor: pointer;
}

p{
  margin-bottom: 0;
}

.icon{
  width: 20px;
  height: 20px;
}

:host{
  display: block;
  margin-bottom: 20px;
}
