<div>
  <a routerLink="">
    <img class="image" src="{{article.imageUrls[0]}}">
    <div class="content">
      <ng-container *ngIf="showTitle">
        <p *ngIf="Locale === 'en'" class="title">{{article.englishTitle}}</p>
        <p *ngIf="Locale === 'zh-tw'" class="title">{{article.chineseTitle}}</p>
      </ng-container>
      <p *ngIf="showCreatedTime" class="created-time">{{article.createdTime}}</p>
      <ng-container *ngIf="showPreviewContent">
        <p *ngIf="Locale === 'en'" class="preview-content">{{article.englishContent}}</p>
        <p *ngIf="Locale === 'zh-tw'" class="preview-content">{{article.chineseContent}}</p>
      </ng-container>
    </div>
  </a>
</div>
