.selected {
  font-weight: bold;
}

li {
  list-style-type: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

a:active {
  font-weight: bold;
}

a:hover {

}

hr {
  border-bottom: 1px solid;
  color: #ccc6c1;
}
