<div class="desktop">
  <ul>
    <a *ngFor="let title of titles" routerLink="/{{parentRoute}}/{{title.route}}" routerLinkActive="active-link">
      {{title.name}}
      <hr>
    </a>
  </ul>
</div>
<div class="mobile">
  <div class="dropdown">
    <a  routerLink="/{{parentRoute}}/{{selectedTitle}}">
      <b>{{parentRouteName}}</b> | {{selectedTitle}}
    </a>
    <button class="dropdown-toggle glyphicon glyphicon-triangle-bottom" type="button" data-toggle="dropdown"></button>

    <!--<span class="dropdown-caret" data-toggle="dropdown"></span>-->
    <ul class="dropdown-menu">
      <a *ngFor="let title of titles" routerLink="/{{parentRoute}}/{{title.route}}"
         routerLinkActive="active-link" class="dropdown-item">
        {{title.name}}
        <hr>
      </a>
    </ul>
  </div>
</div>
