.selected {
  font-weight: bold;
}

li {
  list-style-type: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

a:active {
  font-weight: bold;
}

a:hover {

}

hr {
  border-bottom: 1px solid;
  color: #ccc6c1;
}

.mobile {
  display: none;
}

.desktop {
  display: flex;
}

@media (max-width: 1024px) {
  .mobile {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -20px;
    margin-bottom: 20px;
  }

  .desktop {
    display: none;
  }

  .dropdown-toggle::after {
    cursor: pointer;
    border-width: 10px;
    margin-left: 1.5em;
  }
}
