<div class="desktop">
  <ul>
    <a *ngFor="let title of titles" routerLink="/{{parentRoute}}/{{title}}" routerLinkActive="active-link">
      {{title}}
      <hr>
    </a>
  </ul>
</div>
<div class="mobile">
  <div ngbDropdown ngbDropdownToggle class="dropdown dropdown-toggle">
    <a  routerLink="/{{parentRoute}}/{{selectedTitle}}">
      <b>{{parentRouteName}}</b> | {{selectedTitle}}
    </a>
    <!--<button class="btn dropdown-toggle glyphicon glyphicon-triangle-bottom" type="button" data-toggle="dropdown"></button>-->

    <!--<span ngbDropdownToggle class="caret"></span>-->
    <ul ngbDropdownMenu="left">
      <a *ngFor="let title of titles" routerLink="/{{parentRoute}}/{{title}}" routerLinkActive="active-link">
        {{title}}
        <hr>
      </a>
    </ul>
  </div>
</div>
