img{
  width:20px;
  height: 20px;
  margin-right: 10px;
  float: none;
}

a{
  color: black;
  text-decoration: underline;
}

span{
  margin-right: 10px;
}

#information{
  background-color: rgba(80, 80, 80, 0.2);
  text-align: left;
  padding: 40px 10%;
}

.title{
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 20px;
}

#phone div{
  display: inline-block;
}

.wrapper{
  display: inline-block;
}


#copyright{
  color: white;
  text-align: center;
  padding: 15px 0;
  background: #850615;
}

@media (max-width: 576px){
  #link-left{
    margin-bottom: 20px;
  }

  #contact{
    margin-bottom: 40px;
  }

  #phone{
    display: flex;
  }

  #phone div{
    display: block;
  }

  #phone span{
    display: block;
  }
}
