<div id="information">
  <div class="row">
    <div id="contact" class="col-lg-6 col-md-6">
      <p class="title">Contact</p>
      <div>
        <img src="../../../../assets/images/marker.png">
        (545)Daxue Rd, Puli Township, Nantou Country 545, Taiwan (R.O.C)
      </div>
      <br/>
      <div>
        <img src="../../../../assets/images/phone.png">
        <span>(049) 2910960-4101</span>
        <span>(049) 2910960-4102</span>
        <span>(049) 2910960-4103</span>
      </div>
      <br/>
      <div>
        <img src="../../../../assets/images/fax.png">
          (049) 2917810
      </div>
    </div>

    <div class="col-lg-6 col-md-6">
      <p class="title">Link</p>
      <div class="row">
        <div class="col-lg-5 col-md-5">
          <div>
            <a href=" http://en.ncnu.edu.tw/">
              <img src="../../../../assets/images/link.png">NCNU Home
            </a>
          </div>
          <br/>
          <div>
            <a href="http://cloudmail.ncnu.edu.tw/">
              <img src="../../../../assets/images/link.png">NCNU Email Login
            </a>
          </div>
          <br/>
          <div>
            <a href="http://studentweb.ncnu.edu.tw/">
              <img src="../../../../assets/images/link.png">NCNU Student Web
            </a>
          </div>
        </div>

        <div class="col-lg-7 col-md-7">
          <div>
            <a href="https://www.facebook.com/NCNUEE">
              <img src="../../../../assets/images/link.png">Fanpage Facebook NCNU EED
            </a>
          </div>
          <br/>
          <div>
            <a href="https://sites.google.com/mail.ncnu.edu.tw/alumniee/%E9%A6%96%E9%A0%81home?authuser=1">
              <img src="../../../../assets/images/link.png">EE Alumni
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="copyright">
  Copyright &copy; 1998-2017, National Chi Nan University - Department of Electrical Engineering
</div>
