img{
  width:20px;
  height: 20px;
  margin-right: 10px;
}

a{
  color: black;
  text-decoration: underline;
}

span{
  margin-right: 10px;
}

#information{
  text-align: left;
  padding: 40px 120px;
}

.title{
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 20px;
}

.wrapper{
  display: inline-block;
}

#copyright{
  color: white;
  text-align: center;
  padding: 15px 0;
  background: #850615;
}
