<div id="information">
  <div class="row">
    <div id="contact" class="col-lg-6 col-md-6">
      <p i18n class="title">Contact</p>
      <div>
        <img src="../../../../assets/images/marker.png">
        <ng-container *ngIf="Locale === 'en'">
          {{universityInfo.englishAddress}}
        </ng-container>
        <ng-container *ngIf="Locale === 'zh-tw'">
          {{universityInfo.chineseAddress}}
        </ng-container>
      </div>
      <br/>
      <div id="phone">
        <img src="../../../../assets/images/phone.png">
        <div>
          <span *ngFor="let phone of universityInfo.phoneNumbers">{{phone}}</span>
        </div>
      </div>
      <br/>
      <div>
        <img src="../../../../assets/images/fax.png">
        <span *ngFor="let fax of universityInfo.faxNumbers">{{fax}}</span>
      </div>
    </div>

    <div class="col-lg-6 col-md-6">
      <p i18n class="title">Link</p>
      <div class="row">
        <div id="link-left" class="col-lg-5 col-md-5">
          <div>
            <a href="{{universityLinks[0]?.url}}" target="_blank">
              <img src="../../../../assets/images/link.png"><ng-container *ngIf="Locale === 'en'">{{universityLinks[0]?.englishName}}</ng-container>
              <ng-container *ngIf="Locale === 'zh-tw'">{{universityLinks[0].chineseName}}</ng-container>
            </a>
          </div>
          <br/>
          <div>
            <a href="{{universityLinks[1]?.url}}" target="_blank">
              <img src="../../../../assets/images/link.png"><ng-container *ngIf="Locale === 'en'">{{universityLinks[1]?.englishName}}</ng-container>
              <ng-container *ngIf="Locale === 'zh-tw'">{{universityLinks[1].chineseName}}</ng-container>
            </a>
          </div>
          <br/>
          <div>
            <a href="{{universityLinks[2]?.url}}" target="_blank">
              <img src="../../../../assets/images/link.png"><ng-container *ngIf="Locale === 'en'">{{universityLinks[2]?.englishName}}</ng-container>
              <ng-container *ngIf="Locale === 'zh-tw'">{{universityLinks[2]?.chineseName}}</ng-container>
            </a>
          </div>
        </div>

        <div class="col-lg-7 col-md-7">
          <div>
            <a href="{{universityLinks[3]?.url}}" target="_blank">
              <img src="../../../../assets/images/link.png"><ng-container *ngIf="Locale === 'en'">{{universityLinks[3]?.englishName}}</ng-container>
              <ng-container *ngIf="Locale === 'zh-tw'">{{universityLinks[3]?.chineseName}}</ng-container>
            </a>
          </div>
          <br/>
          <div>
            <a href="{{universityLinks[4]?.url}}" target="_blank">
              <img src="../../../../assets/images/link.png"><ng-container *ngIf="Locale === 'en'">{{universityLinks[4]?.englishName}}</ng-container>
              <ng-container *ngIf="Locale === 'zh-tw'">{{universityLinks[4]?.chineseName}}</ng-container>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="copyright">
  Copyright &copy; 1998-2017, National Chi Nan University - Department of Electrical Engineering
</div>
