.row{
  margin: auto;
}

nav{
  background-color: #600B0B;
  height: 100vh;
  padding: 0;
}

.header-logo{
  display: block;
}

.nav-menu-toggle{
  display: none;
}

.navbar-mobile{
  display: none;
}

ul{
  padding: 0;
}

a{
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.navbar-fixed-top{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  z-index: 1100;
}

.top-nav{
  width: 83%;
  padding: 20px 30px;
}

.navbar-fixed-left {
  position: fixed;
  top: 100px;
  height: 100%;
  width: 17%;
  z-index: 1100;
}

.content{
  margin-left: 17%;
  margin-top: 100px;
  padding: 30px 5%;
  width: 100%;
  height: 100%;
  background-color: rgba(220, 220, 220, 1);
}

nav ul li{
  list-style-type: none;
}

nav ul li a{
  display: block;
  font-size: 16px;
  padding: 20px 0px 20px 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 6px solid transparent;
}

nav ul li a img{
  margin-right: 15px;
  width: 30px;
}

.link-active{
  border-left: 6px solid white !important;
}

.nav-header{
  color: white;
  background-color: #EB5757;
  font-size: 28px;
  font-weight: bold;
  padding: 25px 40px;
  width: 17%;
  height: 100%;
}

.nav-header img{
  width: 50px;
  height: 50px;
  margin-right: 8px;
}

.header-nav-left{
  display: inline-block;
  padding: 10px 0;
}

.header-search input{
  width: 0;
  border-radius:0;
  box-shadow: none;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 6px 0;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.header-search:hover input{
  background-color: white;
  display: inline;
  width: 200px;
  padding: 6px 12px;
  border-radius: 3px;
  border: 1px solid gray;
}

.search-form{
  width: 200px;
  display: inline-block;
}

.search-button{
  width: 30px;
  height: 30px;
  margin-right: 26px;
}

.translation{
  display: inline-block;
  cursor: pointer;
}

.language{
  display: inline-block;
  vertical-align: bottom;
}

.translate-button{
  width: 30px;
  height: 30px;
}

.header-nav-right{
  float: right;
}

.header-nav-right a{
  display: inline-block;
}

.username{
  font-size: 18px;
}

.avatar{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 6px;
}

.dropdown-menu{
  margin-top: 10px;
  margin-right: 20px;
}

.dropdown-item{
  cursor: pointer;
  display: block;
  padding: 10px 12px;
  font-size: 16px;
}

@media (max-width: 1440px){
  .top-nav{
    width: 80%;
  }

  .navbar-fixed-left {
    width: 20%;
  }

  nav ul li a{
    display: block;
    font-size: 13px;
    padding: 20px 0px 20px 30px;
    border-bottom: 1px solid white;
  }

  .content{
    margin-left: 20%;
  }

  .nav-header{
    font-size: 22px;
    width: 20%;
  }
}

@media (max-width: 1024px){
  .top-nav{
    width: 75%;
  }

  .navbar-fixed-left {
    width: 25%;
  }

  nav ul li a{
    display: block;
    font-size: 12px;
    padding: 20px 0px 20px 20px;
    border-bottom: 1px solid white;
  }

  .content{
    margin-left: 25%;
  }

  .nav-header{
    font-size: 22px;
    width: 25%;
  }

  .username{
    font-size: 16px;
  }
}

@media (max-width: 768px){
  .nav-header a span{
    display: none;
  }

  .nav-header{
    width: 15%;
    padding: 30px 30px;
  }

  .navbar-fixed-left{
    width: 15%;
  }

  .navbar-fixed-left ul li a{
    padding: 20px 30px;
  }

  .navbar-fixed-left ul li a span{
    display: none;
  }

  .navbar-fixed-left ul li a{
    display: inline-block;
  }

  .top-nav{
    width: 85%;
  }

  .content{
    margin-left: 15%;
    width: 85%;
  }
}

@media (max-width: 576px){
  .navbar-fixed-left {
    display: none;
  }

  .header-logo{
    display: none;
  }

  .nav-menu-toggle{
    display: block;
    background: none;
    border: none;
  }

  .nav-menu-toggle img{
    width: 30px;
    height: 30px;
  }

  .navbar-fixed-top{
    height: 60px;
  }

  .navbar-mobile{
    display: none;
    position: static;
    height: 100%;
    margin-top: 60px;
  }

  .show{
    display: block;
  }

  .navbar-mobile ul{
    margin: 0;
  }

  .navbar-mobile ul li a{
    display: block;
  }

  .navbar-mobile ul li a img{
    display: none;
  }

  .nav-header{
    color: white;
    background-color: #EB5757;
    width: 20%;
    height: 100%;
    padding: 8px 15px;
  }

  .nav-header img{
    margin: 0;
  }

  .top-nav{
    padding: 0;
  }

  .header-nav-left{
    display: none;
  }

  .header-nav-right{
    margin: 8px;
  }

  .avatar{
    width: 45px;
    height: 45px;
  }

  .username{
    font-size: 16px;
  }

  .content{
    margin-left: 0;
    margin-top: 60px;
    width: 100%;
    padding: 30px 0;
  }

  .collapse-margin{
    margin-top: 0;
  }
}
