<img *ngIf="article.imageUrls" id="titleImg" src={{article.imageUrls[0]}}>
<div class="container">
  <div id="title">
    <h3>
      <ng-container *ngIf="Locale == 'en'">
        {{article.englishTitle}}
      </ng-container>
      <ng-container *ngIf="Locale == 'zh-tw'">
        {{article.chineseTitle}}
      </ng-container>
    </h3>
    <div id="information">
      <span>Created Time: {{article.createdTime}}</span>
      <div class="translator" style="display: table;">
        <span>E</span>
        <a style="cursor: pointer; display: table-cell; vertical-align: middle;">
          <img src="./assets/images/translation-post.png" style="margin-left:6px; margin-bottom: 3px; width: 22px; height: 22px; cursor: pointer;">
        </a>
      </div>
    </div>
  </div>
  <p>
    <ng-container *ngIf="Locale == 'en'">
      {{article.englishContent}}
    </ng-container>
    <ng-container *ngIf="Locale == 'zh-tw'">
      {{article.chineseContent}}
    </ng-container>
  </p>
  <div class="social float-right bottom">
    <fb-share class="socialItem" href="https://www.google.com.vn" layout="button_count" share="true"
              size="large"></fb-share>
    <input class="socialItem" type="image" src="./assets/images/Print.png" height="28px">
    <input class="socialItem" type="image" src="./assets/images/Email.png" height="28px">
  </div>
</div>

