<div class="container">
  <div class="row desktop">
    <div class="col-xl-3 col-lg-3 col-md-3">
      <app-sub-menu [parentRoute]="parentRoute" [parentRouteName]="parentRouteName" [titles]="titles" [selectedTitle]="selectedTitle"></app-sub-menu>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-9">
      <app-article-content [article]="article"></app-article-content>
    </div>
  </div>
  <div class="row mobile">
    <app-sub-menu [parentRoute]="parentRoute" [parentRouteName]="parentRouteName" [titles]="titles" [selectedTitle]="selectedTitle"></app-sub-menu>
    <app-article-content [article]="article"></app-article-content>
  </div>
</div>
