.container {
  margin-top: 50px;
}

.mobile {
  display: none;
}

.desktop {
  display: flex;
}

@media (max-width: 425px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }
}

