<div [ngSwitch]="displayType">
  <div *ngSwitchCase="1">
    <a routerLink="{{articleUrl}}">
      <div class="row">
        <img class="col-xl-5 col-lg-5 col-md-5 image" src="{{article?.imageUrls[0]}}">
        <div class="col-xl-7 col-lg-7 col-md-7 content">
          <p *ngIf="showTitle" class="title">
            <ng-container *ngIf="LanguageLocale == 'en'">
              {{article.englishTitle}}
            </ng-container>
            <ng-container *ngIf="LanguageLocale == 'zh-tw'">
              {{article.chineseTitle}}
            </ng-container>
          </p>
          <ng-container *ngIf="showPreviewContent">
            <p *ngIf="LanguageLocale == 'en'" [innerHtml]="article.englishContent | safeHtml"></p>
            <p *ngIf="LanguageLocale == 'zh-tw'" [innerHtml]="article.chineseContent | safeHtml"></p>
          </ng-container>
          <p *ngIf="showCreatedTime" class="created-time">{{article.createdTime}}</p>
        </div>
      </div>
    </a>
  </div>
  <div *ngSwitchCase="2" class="large">
    <a routerLink="{{articleUrl}}">
      <img class="image" src="{{article?.imageUrls[0]}}">
      <div class="content">
        <p *ngIf="showTitle" class="title">
          <ng-container *ngIf="LanguageLocale == 'en'">
            {{article.englishTitle}}
          </ng-container>
          <ng-container *ngIf="LanguageLocale == 'zh-tw'">
            {{article.chineseTitle}}
          </ng-container>
        </p>
        <ng-container *ngIf="showPreviewContent">
          <p *ngIf="LanguageLocale == 'en'" [innerHtml]="article.englishContent | safeHtml"></p>
          <p *ngIf="LanguageLocale == 'zh-tw'" [innerHtml]="article.chineseContent | safeHtml"></p>
        </ng-container>
        <p *ngIf="showCreatedTime" class="created-time">{{article.createdTime}}</p>
      </div>
    </a>
  </div>
  <div class="large" *ngSwitchCase="3">
    <a routerLink="{{articleUrl}}">
      <img class="image" src="{{article?.imageUrls[0]}}">
      <div class="content">
        <p *ngIf="showTitle" class="title">
          <ng-container *ngIf="LanguageLocale == 'en'">
            {{article.englishTitle}}
          </ng-container>
          <ng-container *ngIf="LanguageLocale == 'zh-tw'">
            {{article.chineseTitle}}
          </ng-container>
        </p>
        <ng-container *ngIf="showPreviewContent">
          <p *ngIf="LanguageLocale == 'en'" [innerHtml]="article.englishContent | safeHtml"></p>
          <p *ngIf="LanguageLocale == 'zh-tw'" [innerHtml]="article.chineseContent | safeHtml"></p>
        </ng-container>
        <p *ngIf="showCreatedTime" class="created-time">{{article.createdTime}}</p>
      </div>
    </a>
  </div>
</div>
