<div class="info-container" [ngClass]="classGroup">
  <div class="left-info">
    <img class="avatar" [src]="selectedImageUrlPath" onerror="src='./assets/images/no_preview_image.jpg'">
    <div class="contact-info">
      <p class="name">
        <ng-container *ngIf="Locale === 'en'">
          {{advisor.englishName}}
        </ng-container>
        <ng-container *ngIf="Locale === 'zh-tw'">
          {{advisor.chineseName}}
        </ng-container>
      </p>
      <p class="phone">{{advisor.phone}}</p>
    </div>
  </div>
  <div class="right-info">
    <div class="field">
      <span class="title">Title</span>
      <span>
        <ng-container *ngIf="Locale === 'en'">
          {{advisor.englishTitle}}
        </ng-container>
        <ng-container *ngIf="Locale === 'zh-tw'">
          {{advisor.chineseTitle}}
        </ng-container>
      </span>
    </div>
    <div class="field">
      <span class="title">Background</span>
      <span>
        <ng-container *ngIf="Locale === 'en'">
          {{advisor.englishBackground}}
        </ng-container>
        <ng-container *ngIf="Locale === 'zh-tw'">
          {{advisor.chineseBackground}}
        </ng-container>
      </span>
    </div>
    <div class="field">
      <span class="title">Specialty</span>
      <span>
        <ng-container *ngIf="Locale === 'en'">
          {{advisor.englishSpecialties}}
        </ng-container>
        <ng-container *ngIf="Locale === 'zh-tw'">
          {{advisor.chineseSpecialties}}
        </ng-container>
      </span>
    </div>
    <div class="field">
      <span class="title">Office</span>
      <ng-container *ngIf="Locale === 'en'">
        {{advisor.englishOffice}}
      </ng-container>
      <ng-container *ngIf="Locale === 'zh-tw'">
        {{advisor.chineseOffice}}
      </ng-container>
    </div>
    <div class="field">
      <span class="title">Email</span>
      <span>{{advisor.email}}</span>
    </div>
  </div>
</div>
