<div>
  <a routerLink="">
    <div class="circle">{{event.beginDate | date:'MMM dd'}}</div>
    <div class="content">
      <p id="title">
        <ng-container *ngIf="LanguageLocale == 'en'">
          {{event.englishTitle}}
        </ng-container>
        <ng-container *ngIf="LanguageLocale == 'zh-tw'">
          {{event.chineseTitle}}
        </ng-container>
      </p>
      <p id="preview-content">
        <ng-container *ngIf="LanguageLocale == 'en'">
          {{event.englishContent}}
        </ng-container>
        <ng-container *ngIf="LanguageLocale == 'zh-tw'">
          {{event.chineseContent}}
        </ng-container>
      </p>
    </div>
  </a>
</div>
