<div class="content">
  <div id="statistic-chart">
    <container-box>
      <p class="title">TOTAL VISIT</p>
      <canvas baseChart
              width="4"
              height="1"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType">
      </canvas>
    </container-box>
  </div>
  <div class="row" style="display: flex">
    <container-box id="recent-news" [seeMoreLink]="'/admin/news'">
      <p class="title">RECENT NEWS</p>
      <div class="row">
        <article-preview class="col-xl-4 col-lg-4 col-md-4"  *ngFor="let article of recentNews;" [article]="article"
                         [showTitle]="true" [showCreatedTime]="true"></article-preview>
      </div>
    </container-box>

    <container-box id="recent-event" [seeMoreLink]="'/admin/news/events'">
      <p class="title">RECENT EVENTS</p>
      <div class="row">
        <event-preview class="col-md-6 col-lg-12" *ngFor="let event of recentEvents;" [event]="event"></event-preview>
      </div>
    </container-box>
  </div>

  <container-box [seeMoreLink]="'/admin/'">
    <p class="title">RECENT ACTIVITY</p>
    <div class="row">
      <table class="table">
        <thead>
        <tr>
          <th width="15%">#</th>
          <th width="15%">User</th>
          <th width="25%">Date</th>
          <th width="45%">Activity</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let log of activityLogs; let i = index">
          <td>#{{i + 1}}</td>
          <td>{{log.user}}</td>
          <td>{{log.date}}</td>
          <td>{{log.activity}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </container-box>
  <admin-footer></admin-footer>
</div>
