:host{
  display: table;
  background-color: #2B2D5A;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.container{
  display: table-cell;
  vertical-align: middle;
}

#sign-in-block{
  display: inline-block;
  background-color: white;
  text-align: center;
  border-radius: 6px;
  padding-top: 60px;
}

.title{
  color: #EB5757;
  font-weight: bold;
  margin-bottom: 40px;
  font-size: 46px;
}

.text-box{
  display: block;
  text-align: left;
  border-bottom: 2px solid gray;
  margin-bottom: 30px;
}

input{
  padding: 5px 0;
  border: 0 solid gray;
  /*border-bottom-width: 1.5px;*/
  width: 400px;
  outline: none;
}

input:focus{
  border-color: #7CAEE9;
}

#sign-in-form{
  padding: 0 40px 50px 40px;
}

#btn-sign-in{
  width: 180px;
  height: 38px;
  background-color: #EB5757;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

#btn-sign-in:hover{
  background: rgba(235, 87, 87, 0.8);
}

#error-message{
  color: red;
  font-size: 20px;
  margin-bottom: 20px;
}

#forget-password-block{
  background-color: #201A2B;
  padding: 16px 60px;
}

#forget-password-block a{
  display: block;
  color: gray;
  text-decoration: underline;
}

#footer{
  margin-top: 20px;
  text-align: center;
  color: white;
}

#logo{
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

#toggle-password-button{
  margin-right: 20px;
}

@media (max-width: 576px){
  #sign-in-block{
    padding-top: 30px;
  }

  #sign-in-form{
    padding: 0 40px 40px 40px;
  }

  .title{
    margin-bottom: 30px;
    font-size: 36px;
  }

  input{
    width: 200px;
  }

  #footer{
    text-align: left;
  }

  #logo{
    float: left;
    margin-right: 10px;
  }

  #footer-department{
    display: block;
  }
}

@media (max-width: 380px){
  #sign-in-block{
    padding-top: 30px;
  }

  #sign-in-form{
    padding: 0 30px 30px 30px;
  }

  .title{
    margin-bottom: 30px;
    font-size: 36px;
  }

  input{
    width: 200px;
  }
}
