<!--<div class="container background" style="width: 100%;height: 100%">-->
  <!--&lt;!&ndash; row &ndash;&gt;-->
  <!--<div class="row margin-top3">-->
    <!--<div class="col-md-3" style="padding-left: 4%">-->
      <!--&lt;!&ndash; sub menu &ndash;&gt;-->
      <!--<app-sub-menu [parentRoute]="parentRoute" [parentRouteName]="parentRouteName"-->
                    <!--[titles]="menu" [selectedTitle]="selectedtitle"></app-sub-menu>-->


    <!--</div>-->
    <!--&lt;!&ndash; end submenu &ndash;&gt;-->
    <!--&lt;!&ndash; Main &ndash;&gt;-->

    <!--<div class="col-md-9">-->
      <!--<app-article-content [article]="article"></app-article-content>-->


    <!--</div>-->
