<div class="container">
  <!-- row -->
  <div class="row" style="">
    <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">
      <!-- sub menu -->

      <!-- div serach  -->
      <div class="search-form">
        <input type="text" id="search" placeholder="Search">
      </div>
      <app-sub-menu [parentRoute]="parentRoute" [parentRouteName]="parentRouteName"
                    [titles]="menu" [selectedTitle]="selectedTitle"></app-sub-menu>
    </div>
    <!-- end submenu -->
    <!-- Main -->
    <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12" >
      <iframe *ngIf="showcalender==true" src="https://calendar.google.com/calendar/embed?title=Calender&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ac7aa0viqtknc5lnrf09ak1d3k%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=Asia%2FSaigon" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      <div class="row" *ngIf="showcalender!=true">
        <!-- button lab -->
        <div class="tab-area" >
          <button type="" class="tab">Image Proccesiing</button>
          <button type="" class="tab">Signal Proccesiing</button>
          <button type="" class="tab">Information systems</button>
          <button type="" class="tab">Circuits</button>
        </div>

        <!-- col 1 -->
        <!-- 1 image -->
        <div class="article small col-xs-12">
          <img class="img col1" src="assets/images/070.jpg">
          <div class="title-article">
            One skill shot for every thing blame blame blame
          </div>
        </div>
        <!-- end  -->
        
        <!-- big img -->
        <div class="article big col-xs-12">
          <img class="img col1" src="assets/images/077.jpg">
          <div class="title-article">
            One skill shot for every thing blame blame blameGAPasdisadlasjkdsakljdasjlkdklsjalkdjkasdksajdasdsaldkj
            asdasdasdsadsa

          </div>
        </div>
        <!-- end -->
        <!-- end col1 -->
        <!-- col 2 -->
        <div class="article big col-xs-12">
          <img class="img col2" src="assets/images/077.jpg">
          <div class="title-article">
            One skill shot for every thing blame blame blameasdasdsadjashdasdhlkjashldsakjhdashkdjhlsakjdhkjahjdhsa

          </div>
        </div>
        <div class="small">
          <div class="article  col1 col-xs-12">
            <img class="img " src="assets/images/077.jpg">
            <div class="title-article">
              One skill shot for every thing blame blame blame

            </div>
          </div>
          <div class="article  col1 col-xs-12">
            <img class="img " src="assets/images/077.jpg">
            <div class="title-article">
              One skill shot for every thing blame blame blame

            </div>
          </div>
        </div>
        <!-- end col 2 -->


        <div class="small article col1">
          <img class="img " src="assets/images/077.jpg">
          <div class="title-article">
            One skill shot for every thing blame blame blame

          </div>
        </div>
        <div class="small article col1">
          <img class="img " src="assets/images/077.jpg">
          <div class="title-article">
            One skill shot for every thing blame blame blame
          </div>
        </div>
        <div class="small article col1">
          <img class="img " src="assets/images/077.jpg">
          <div class="title-article">
            One skill shot for every thing blame blame blame
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
</div>
