<div class="container background" style="width: 100%;height: 100%">
  <!-- row -->
  <div class="row margin-top3">
    <div class="col-md-3">
      <!-- sub menu -->
      <app-sub-menu [parentRoute]="parentRoute" [parentRouteName]="parentRouteName"
                [titles]="menu" [selectedTitle]="selectedtitle"></app-sub-menu>


    </div>
    <!-- end submenu -->
    <!-- Main -->
    <div class="col-md-9 mg-t-10">
     <article-news-research></article-news-research>
    </div>
  </div>
  <!-- end row -->
</div>
<!-- end container -->
