<ngb-carousel>
  <ng-template ngbSlide *ngFor="let article of highlightArticles; let i = index">
    <img class="carousel-image" src="{{article.imageUrls[0]}}">
    <div class="carousel-overlay">
      <p id="carousel-title">
        <ng-container *ngIf="Locale == 'en'">
          {{article.englishTitle}}
        </ng-container>
        <ng-container *ngIf="Locale == 'zh-tw'">
          {{article.chineseTitle}}
        </ng-container>
      </p>
      <p id="carousel-overlay-content">
        <ng-container *ngIf="Locale == 'en'">
          {{article.englishContent}}
        </ng-container>
        <ng-container *ngIf="Locale == 'zh-tw'">
          {{article.chineseContent}}
        </ng-container>
      </p>
      <!--<a i18n routerLink="{{article.url}}">{{'Homepage.SeeMore' | translate}}</a>-->
    </div>
  </ng-template>
</ngb-carousel>

<div id="news">
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 horizontal-spacing group">
      <p i18n class="news-title">{{'Homepage.AboutUs' | translate}}</p>
      <app-article-preview [article]="aboutArticle" [articleUrl]="'/introduction/about-us'" [displayType]="3" [showTitle]="true" [showPreviewContent]="true"></app-article-preview>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 horizontal-spacing group">
      <p i18n class="news-title">{{'Homepage.LatestNews' | translate}}</p>
      <div *ngFor="let article of latestArticles; let i = index">
        <app-article-preview [article]="article" [displayType]="1" [showTitle]="true" [showCreatedTime]="true"></app-article-preview>
        <div *ngIf="i != latestArticles.length - 1" style="border-bottom: 2px solid #E0DFDC; margin: 12px 0;"></div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 horizontal-spacing group">
      <p i18n class="news-title">{{'Homepage.UpcomingEvent' | translate}}</p>
      <div *ngFor="let event of upcomingEvents">
        <app-event-preview [event]="event"></app-event-preview>
        <br style="clear: both;"/>
      </div>
    </div>
  </div>
</div>

<div id="about">
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
      <p i18n class="about-title">{{'Homepage.Admissions' | translate}}</p>
      <app-article-preview [article]="admissionsArticle" [displayType]="3" [showPreviewContent]="true"></app-article-preview>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
      <p i18n class="about-title">{{'Homepage.Academics' | translate}}</p>
      <app-article-preview [article]="academicsArticle" [displayType]="3" [showPreviewContent]="true"></app-article-preview>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
      <p i18n class="about-title">{{'Homepage.Research' | translate}}</p>
      <app-article-preview [article]="researchArticle" [displayType]="3" [showPreviewContent]="true"></app-article-preview>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
      <p i18n class="about-title">{{'Homepage.StudentLife' | translate}}</p>
      <app-article-preview [article]="studentLifeArticle" [displayType]="3" [showPreviewContent]="true"></app-article-preview>
    </div>
  </div>
</div>
