#myCarousel{
  height:600px;
}

.carousel-image{
  height: calc(100vh - 150px);
  width: 100%;
}

.carousel-indicators{
  bottom: 0;
}

.carousel-indicators li{
  margin-right: 20px;
}

.carousel-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 60%;
  padding: 100px 32px;
  color: white;
  background: rgb(353, 66, 80);
  background: rgba(353, 66, 80, 0.7);
  width: 360px;
  vertical-align: middle;
}

#carousel-overlay-content{
  display: block;
}

#carousel-title{
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 20px;
}

.carousel-overlay a{
  display: inline-block;
  text-decoration: none;
  color: #CE4656;
  background-color: white;
  border-radius: 1px;
  border: 0px;
  margin-top: 20px;
  padding: 6px 12px;
}

.row{
  margin: auto;
}

#news{
  /*background-color: #ECEEED;*/
  padding: 2% 8%;
}

.news-title{
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 2px solid;
}

.horizontal-spacing{
  padding: 0 30px;
}

#about{
  color: white;
  background-color: #CE4656;
  padding: 2% 8%;
}

.about-title{
  color: white;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .news-title{
    font-size: 20px;
  }

  .carousel-image{
    height: 600px;
  }

  .carousel-overlay{
    right:0;
    left: auto;
    width: 320px;
    padding: 100px 32px;
  }
}

@media (max-width: 768px) {
  #news{
    padding: 20px 10px;
  }
  .news-title{
    font-size: 17px;
  }
  .carousel-overlay{
    right:0;
    left: auto;
    width: 300px;
    padding: 80px 28px;
    font-size: 14px;
  }
  #carousel-title{
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .news-title{
    font-size: 23px;
  }

  .carousel-overlay{
    top: auto;
    right:auto;
    left: auto;
    bottom: 0;
    height: 120px;
    width: 100%;
    padding: 10px 18px;
    font-size: 14px;
  }

  .carousel-overlay a{
    margin-top: 0;
    padding: 6px 12px;
  }

  #carousel-overlay-content{
    display: none;
  }

  #carousel-title{
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
  }

  #myCarousel{
    height:300px;
  }

  .carousel-image{
    height:300px;
    width: 100%;
  }

  .group{
    margin-top: 20px;
  }
}

@media (max-width: 320px) {
  .news-title{
    font-size: 23px;
  }

  .carousel-overlay{
    top: auto;
    right:auto;
    left: auto;
    bottom: 0;
    height: 120px;
    width: 100%;
    padding: 10px 18px;
    font-size: 14px;
  }

  .carousel-overlay a{
    margin-top: 0;
    padding: 6px 12px;
  }

  #carousel-overlay-content{
    display: none;
  }

  #carousel-title{
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
  }

  #myCarousel{
    height:300px;
  }

  .carousel-image{
    height:300px;
    width: 100%;
  }
}
