<div id="carousel" class="carousel slide lazy" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li *ngFor="let slide of slides; let i = index" data-target="#myCarousel" [attr.data-slide-to]="i" ngClass="{{i == 0 ? 'active':''}}"></li>
  </ul>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div *ngFor="let slide of slides; let i = index" ngClass="{{i == 0 ? 'carousel-item active': 'carousel-item'}}">
      <img *ngIf="i === 0" class="carousel-image" src="{{slide.slideImageUrl}}">
      <img *ngIf="i !== 0" class="carousel-image" data-src="{{slide.slideImageUrl}}">
      <div class="carousel-overlay">
        <p id="carousel-title">
          <ng-container *ngIf="Locale == 'en'">
            {{slide.englishTitle}}
          </ng-container>
          <ng-container *ngIf="Locale == 'zh-tw'">
            {{slide.chineseTitle}}
          </ng-container>
        </p>
        <p id="carousel-overlay-content">
          <ng-container *ngIf="Locale == 'en'">
            {{slide?.englishContent}}
          </ng-container>
          <ng-container *ngIf="Locale == 'zh-tw'">
            {{slide?.chineseContent}}
          </ng-container>
        </p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#carousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#carousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<!--<div>-->
  <!--<ngb-carousel>-->
    <!--<ng-template ngbSlide *ngFor="let slide of slides; let i = index">-->
      <!--<img class="carousel-image" src="{{slide.slideImageUrl}}">-->
      <!--<div class="carousel-overlay">-->
        <!--<p id="carousel-title">-->
          <!--<ng-container *ngIf="Locale == 'en'">-->
            <!--{{slide.englishTitle}}-->
          <!--</ng-container>-->
          <!--<ng-container *ngIf="Locale == 'zh-tw'">-->
            <!--{{slide.chineseTitle}}-->
          <!--</ng-container>-->
        <!--</p>-->
        <!--<p id="carousel-overlay-content">-->
          <!--<ng-container *ngIf="Locale == 'en'">-->
            <!--{{slide.englishContent}}-->
          <!--</ng-container>-->
          <!--<ng-container *ngIf="Locale == 'zh-tw'">-->
            <!--{{slide.chineseContent}}-->
          <!--</ng-container>-->
        <!--</p>-->
        <!--&lt;!&ndash;<a i18n routerLink="{{slide.url}}">{{'Homepage.SeeMore' | translate}}</a>&ndash;&gt;-->
      <!--</div>-->
    <!--</ng-template>-->
  <!--</ngb-carousel>-->

<!--</div>-->

<div id="news">
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 horizontal-spacing group">
      <p i18n class="news-title">{{'Homepage.AboutUs' | translate}}</p>
      <app-article-preview [article]="aboutArticle" [articleUrl]="'/introduction/about-us'" [displayType]="3"
                           [showPreviewContent]="true"></app-article-preview>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 horizontal-spacing group">
      <p i18n class="news-title">{{'Homepage.LatestNews' | translate}}</p>
      <div *ngFor="let article of latestArticles; let i = index">
        <app-article-preview [article]="article" [displayType]="1" [showTitle]="true"
                             [showPreviewImage]="true" [showCreatedTime]="true"></app-article-preview>
        <div *ngIf="i != latestArticles.length - 1" style="border-bottom: 2px solid #E0DFDC; margin: 12px 0;"></div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 horizontal-spacing group">
      <p i18n class="news-title">{{'Homepage.UpcomingEvent' | translate}}</p>
      <div *ngFor="let event of upcomingEvents">
        <app-event-preview [event]="event"></app-event-preview>
        <br style="clear: both;"/>
      </div>
    </div>
  </div>
</div>

<div id="about">
  <div class="row">
    <div *ngFor="let information of informations" class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
      <p i18n class="about-title">{{'Homepage.Admissions' | translate}}</p>
      <app-article-preview [article]="information" [displayType]="3" [showPreviewImage]="true"
                           [showPreviewContent]="true" [articleUrl]="information.redirectUrl">
      </app-article-preview>
    </div>
    <!--<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">-->
      <!--<p i18n class="about-title">{{'Homepage.Academics' | translate}}</p>-->
      <!--<app-article-preview [article]="academicsArticle" [displayType]="3" [showPreviewImage]="true"-->
                           <!--[showPreviewContent]="true"></app-article-preview>-->
    <!--</div>-->
    <!--<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">-->
      <!--<p i18n class="about-title">{{'Homepage.Research' | translate}}</p>-->
      <!--<app-article-preview [article]="researchArticle" [displayType]="3" [showPreviewImage]="true"-->
                           <!--[showPreviewContent]="true"></app-article-preview>-->
    <!--</div>-->
    <!--<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">-->
      <!--<p i18n class="about-title">{{'Homepage.StudentLife' | translate}}</p>-->
      <!--<app-article-preview [article]="studentLifeArticle" [displayType]="3" [showPreviewImage]="true"-->
                           <!--[showPreviewContent]="true"></app-article-preview>-->
    <!--</div>-->
  </div>
</div>
