a {
  display: table;
  color: black;
  text-decoration: none;
}

.circle{
  float: left;
  width:80px;
  height:80px;
  margin-right: 5%;
  line-height: 1.2;
  padding: 10px 10px 0 10px;
  border-radius: 50%;
  border: 10px solid #EB5757;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.content{
  flex: 1;
  display: block;
  font-size: 16px;
  overflow: hidden;
}

.preview-content{
  color: gray;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.wrapper{
  display: flex;
}

.title{
  font-weight: bold;
}

@media (max-width: 1440px) {
  .content{
    font-size: 14px;
  }
  .content .title{
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .content{
    font-size: 14px;
  }
  .content .title{
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .content{
    font-size: 10px;
  }
  .content .title{
    font-size: 12px;
  }
}
