<div id="block">
  <form [formGroup]="changePasswordForm"
        (ngSubmit)="changePassword(changePasswordForm.value.oldPassword,
        changePasswordForm.value.newPassword,
        changePasswordForm.value.confirmPassword)">
    <div class="text-box">
      <input type="{{isShowOldPassword ? 'type' : 'password'}}" placeholder="Old Password" formControlName="oldPassword" required>
      <img (click)="togglePassword('old')" class="toggle-password-button" src="{{isShowOldPassword ? showPasswordIcon : hidePasswordIcon}}">
    </div>
    <div class="text-box">
      <input type="{{isShowNewPassword ? 'type' : 'password'}}" placeholder="New Password" formControlName="newPassword" required>
      <img (click)="togglePassword('new')" class="toggle-password-button" src="{{isShowOldPassword ? showPasswordIcon : hidePasswordIcon}}">
    </div>
    <div class="text-box">
      <input type="{{isShowConfirmPassword ? 'type' : 'password'}}" placeholder="Confirm Password" formControlName="confirmPassword" required>
      <img (click)="togglePassword('confirm')" class="toggle-password-button" src="{{isShowOldPassword ? showPasswordIcon : hidePasswordIcon}}">
    </div>
    <button id="btn-change-password" type="submit" [disabled]="!isButtonEnable">Change Password</button>
  </form>
</div>
<admin-footer></admin-footer>
