:host{
  display: block;
  text-align: center;
}

input{
  padding: 5px 0;
  background-color: transparent;
  border: 0 solid gray;
  width: 400px;
  outline: none;
}

.text-box{
  display: block;
  text-align: left;
  border-bottom: 2px solid gray;
  margin-bottom: 30px;
}

.toggle-password-button{
  margin-right: 20px;
}

#block{
  display: inline-block;
}


#btn-change-password{
  width: 180px;
  height: 38px;
  background-color: #EB5757;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

#btn-change-password:hover{
  background: rgba(235, 87, 87, 0.8);
}

#btn-change-password:disabled{
  background: rgba(235, 87, 87, 0.8);
}

admin-footer{
  position: relative;
  bottom: 0;
}
