<div class="box">
    <p *ngIf="title !== ''" class="title"><span>Laboratories</span></p>
    <hr>
    <div class="pull-right">
      <img class="actionimage border" src="assets/images/cancel.png">
      <img  class="actionimage border" src="assets/images/add.png">
      <img  class="actionimage" src="assets/images/down.png">
    </div>
    <table class="table">
    <thead>
        <tr  class="table-secondary" >
          <th>The Title of The Lab</th>
          <th>Teacher</th>
          <th>Research</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let labo of laboratories">
          <td>{{labo.englishTitle}}</td>
          <td>{{labo.englishTeacherName}}</td>
          <td>{{labo.englishResearch}}</td>
        </tr>
      </tbody>
    </table>
</div>
