.table > thead {
  background-color: #dddfe2
}

.box {
  position: relative;
  width: 100%;
  background-color: white;
  border-radius: 2px;
  padding: 20px 30px;
  font-size: 18px;
  margin-bottom: 20px;
}

.actionimage {
  width: 24px;
  height: 24px;
  margin: 10px;
  padding: 2px;
  cursor: pointer;
}

.border {
  border: 1px black solid;
  border-radius: 50%;
}

.title {
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 0;
}

hr {
  width: 100px;
  margin: 0;
  border: none;
  height: 3px;
  background-color: #EB5757;
  margin-bottom: 20px;
}

.translation{
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.language{
  display: inline-block;
  vertical-align: bottom;
}

.translation-icon{
  width: 25px;
  height: 25px;
}

@media (max-width: 1440px) {
  .box {
    padding: 25px 30px;
  }
}
