<container-box [title]="'ACADEMIC INFORMATION'" [isShowEditLink]="true">
  <ng-container *ngIf="!academicEditMode">
    <p *ngIf="Locale === 'en'" class="fr-element fr-view" [innerHtml]="academicArticle.englishContent | safeHtml"></p>
    <p *ngIf="Locale === 'zh-tw'" class="fr-element fr-view" [innerHtml]="academicArticle.chineseContent | safeHtml"></p>
  </ng-container>
  <ng-container *ngIf="academicEditMode">
    <edit-article-detail [article]="academicArticle" [showTitle]="false"></edit-article-detail>
  </ng-container>
</container-box>

<container-box [title]="'STUDENT GRADUATE AND UNGRADUATE'" [isShowEditLink]="true">
  <ng-container *ngIf="!studentEditMode">
    <p *ngIf="Locale === 'en'" class="fr-element fr-view" [innerHtml]="studentArticle.englishContent | safeHtml"></p>
    <p *ngIf="Locale === 'zh-tw'" class="fr-element fr-view" [innerHtml]="studentArticle.chineseContent | safeHtml"></p>
  </ng-container>
  <ng-container *ngIf="studentEditMode">
    <edit-article-detail [article]="studentArticle" [showTitle]="false"></edit-article-detail>
  </ng-container>
</container-box>

<container-box [title]="'TEACHING'" [isShowEditLink]="true">
  <ng-container *ngIf="!teachingEditMode">
    <p *ngIf="Locale === 'en'" class="fr-element fr-view" [innerHtml]="teachingArticle.englishContent | safeHtml"></p>
    <p *ngIf="Locale === 'zh-tw'" class="fr-element fr-view" [innerHtml]="teachingArticle.chineseContent | safeHtml"></p>
  </ng-container>
  <ng-container *ngIf="teachingEditMode">
    <edit-article-detail [article]="teachingArticle" [showTitle]="false"></edit-article-detail>
  </ng-container>
</container-box>

<container-box [title]="'DEGREE REQUIREMENT'" [isShowEditLink]="true">
  <ng-container *ngIf="!degreeEditMode">
    <p *ngIf="Locale === 'en'" class="fr-element fr-view" [innerHtml]="degreeArticle.englishContent | safeHtml"></p>
    <p *ngIf="Locale === 'zh-tw'" class="fr-element fr-view" [innerHtml]="degreeArticle.chineseContent | safeHtml"></p>
  </ng-container>
  <ng-container *ngIf="degreeEditMode">
    <edit-article-detail [article]="degreeArticle" [showTitle]="false"></edit-article-detail>
  </ng-container>
</container-box>

<container-box [title]="'ADMISSION INFOMATION'" [isShowEditLink]="true">
  <ng-container *ngIf="!admissionEditMode">
    <p *ngIf="Locale === 'en'" class="fr-element fr-view" [innerHtml]="admissionArticle.englishContent | safeHtml"></p>
    <p *ngIf="Locale === 'zh-tw'" class="fr-element fr-view" [innerHtml]="admissionArticle.chineseContent | safeHtml"></p>
  </ng-container>
  <ng-container *ngIf="admissionEditMode">
    <edit-article-detail [article]="admissionArticle" [showTitle]="false"></edit-article-detail>
  </ng-container>
</container-box>

<container-box [title]="'GUIDELINE'" [isShowEditLink]="true">
  <ng-container *ngIf="!guidelineEditMode">
    <p *ngIf="Locale === 'en'" class="fr-element fr-view" [innerHtml]="guideLineArticle.englishContent | safeHtml"></p>
    <p *ngIf="Locale === 'zh-tw'" class="fr-element fr-view" [innerHtml]="guideLineArticle.chineseContent | safeHtml"></p>
  </ng-container>
  <ng-container *ngIf="guidelineEditMode">
    <edit-article-detail [article]="guideLineArticle" [showTitle]="false"></edit-article-detail>
  </ng-container>
</container-box>

<admin-footer></admin-footer>
