<container-box [title]="'ACADEMIC INFORMATION'" [isShowEditLink]="true">
  <ng-container *ngIf="!academicEditMode">
    <p *ngIf="Locale === 'en'" [innerHtml]="academicArticle.englishContent | safeHtml"></p>
    <p *ngIf="Locale === 'zh-tw'" [innerHtml]="academicArticle.chineseContent | safeHtml"></p>
  </ng-container>
  <ng-container *ngIf="academicEditMode">
    <edit-article-detail [article]="academicArticle" [showTitle]="false"></edit-article-detail>
  </ng-container>
</container-box>

<container-box [title]="'STUDENT GRADUATE AND UNGRADUATE'" [isShowEditLink]="true">
  <ng-container *ngIf="!studentEditMode">
    <p *ngIf="Locale === 'en'" [innerHtml]="studentArticle.englishContent | safeHtml"></p>
    <p *ngIf="Locale === 'zh-tw'" [innerHtml]="studentArticle.chineseContent | safeHtml"></p>
  </ng-container>
  <ng-container *ngIf="studentEditMode">
    <edit-article-detail [article]="studentArticle" [showTitle]="false"></edit-article-detail>
  </ng-container>
</container-box>

<container-box [title]="'TEACHING'" [isShowEditLink]="true">
  <ng-container *ngIf="!teachingEditMode">
    <p *ngIf="Locale === 'en'" [innerHtml]="teachingArticle.englishContent | safeHtml"></p>
    <p *ngIf="Locale === 'zh-tw'" [innerHtml]="teachingArticle.chineseContent | safeHtml"></p>
  </ng-container>
  <ng-container *ngIf="teachingEditMode">
    <edit-article-detail [article]="teachingArticle" [showTitle]="false"></edit-article-detail>
  </ng-container>
</container-box>

<container-box [title]="'DEGREE REQUIREMENT'" [isShowEditLink]="true">
  <ng-container *ngIf="!degreeEditMode">
    <p *ngIf="Locale === 'en'" [innerHtml]="degreeArticle.englishContent | safeHtml"></p>
    <p *ngIf="Locale === 'zh-tw'" [innerHtml]="degreeArticle.chineseContent | safeHtml"></p>
  </ng-container>
  <ng-container *ngIf="degreeEditMode">
    <edit-article-detail [article]="degreeArticle" [showTitle]="false"></edit-article-detail>
  </ng-container>
</container-box>

<admin-footer></admin-footer>
